@import 'nullstyle.scss';
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:regular,italic,700);

h1{
    font-size: 70px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

h4{
    font-size:29px;
}

h5{
    font-size: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    background-color: #181511;
}

.container {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    width: 150px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    border: 1px solid #FFAE2B;
    cursor: pointer;
}

.color-orange {
    color: #FFAE2B;
}

.text-uppercase{
    text-transform: uppercase;
}

.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    &-content {
        display: flex;
        align-items: center;
        height: 80px;
    }
}


.logo {
    width: 80px;
    margin-right: 42px;

    &__text {
        color: #FFAE2B;
        font-size: 22px;
    }
}

.navigation {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        color: #FFAE2B;
    }
}
.menu {

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        margin-right: 40px;
        user-select: none;
        cursor: pointer;
        text-transform: uppercase;
        color: #ACA592;
    }
}

.offer {
    flex: 1 1 auto;
    background: url('../images/bgHeader.jpg') no-repeat center center/cover;
    filter: brightness(75%);
    display: flex;
    align-items: center;
    justify-content: center;

    &-title {
        text-align: center;
        user-select: none;

        h1{
            margin-bottom: 35px;
            color: #fff;
            text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000;
            line-height: 80px;
        }

        h5{
            margin-bottom: 15px;
            text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000;
        }
    }

    .btn{
        margin: 0 auto;
    }
}

.main {
}
.main-content {
}
.main__title {
}
.gallery {
}
.gallery__item {
}
.gallery__item-iamges {
}
.gallery__item-subtitle {
}
.main__bg {
}
.services {
}
.services__item {
}
.services__icon {
}
.services__content {
}
.services__text {
}
.social-media {
}
.social-media__item {
}
.social-media__item--main {
}
.stripes {
}
.stripes__black {
}
.stripes__orange {
}
.stripes__text {
}
.social-link {
}
.social-link__item {
}
.footer {
}
.footer__content {
}
.footer__text {
}
.footer__list {
}
.footer__list-item {
}
.btn-scroll {
}