@import 'nullstyle.scss';
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:regular,italic,700);

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
   background-color: #222222;
   border-radius: 10px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    font: normal 400 13px 'Old Standard TT', sans-serif;
    user-select: none;
}

.header{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    min-width: 100%;
    position: relative;

    &-top{
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        &__cointent{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: #181511;
            display: flex;
            justify-content: center;
            align-items: center;

            &-content{
                width: 86.1%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    &-offer{
        background: url('../images/bgHeader.webp') center center/ cover;
        flex: 1 1 auto;
        position: relative;
        z-index: 1;

        &__bg{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            user-select: none;
            background: linear-gradient(#181511, transparent, transparent, transparent, transparent, #181511);

            .btn{
                opacity: 0;
            }

            h4, h1{
                text-align: center;
            }
            h4{
                color: #FFAE2B;
                text-transform: uppercase;
                text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
                font-weight: 600;
            }
            h1{
                padding: 0 15px;
                color: white;
                text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black;
            }    
        } 
    }

    &-offer--error{
        background: #181511;

        .header-offer__bg{
            background: none;
        }
    }
}

.main{
    flex: 1 1 auto;
    background-color: #181511;

    &-content {
        padding-top: 120px;

        &__img-bg{
            width: 100%;

            img{
                width: 100%;
                height: 100%;
            }
        }

        &__text{
            color: #ACA592;
            width: 411px;
            font-size: 14px;
            text-align: center;
            margin: 0 auto 24px auto;
            line-height: 20px;
        }

        &__text--color-yellow{
            color: #FFAE2B;
        }

        &__box-link{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 42px;

            &-item{
                border: 1px solid #4B4136;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                margin-right: 8px;
            }

            &-item:last-child{
                margin-right: 0;
            }
        }
    }

    &-title {
        text-align: center;

        h6{
            color: #ACA592;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        h2{
            margin-bottom: 60px;
            color: #FFAE2B;
        }

        &__h2--width{
            width: 517px;
            margin: 0 auto;
        }

        .main-title__submenu{
            color: #ACA592;
            text-transform: none;
        }
    }
}

.footer{
    height: 80px;
    background-color: #181511;

    .container{
        height: 100%;
        display: flex;
        border-top: 1px solid #4B4136;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    &-container{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 11px;
        justify-content: space-between;

        p{
            font-size: 12px;
            color: #ACA592;

            span{
                color: #FFAE2B;
            }
        }

        ul{
            list-style: none;
            display: flex;
            align-items: center;

            li{
                padding: 0 4px;
                border-right: 1px solid #4B4136;

                a{
                    color: #FFAE2B;
                }
            }
        }
    }
}

.container{
    margin: auto;
    width: 1230px;
    padding: 0 10px;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 13px;
}

h6{
    font-size: 12px;
}

.galary {
    display: grid;
    grid-template: repeat(7, 315px)/repeat(3, 387px);
    gap: 20px;
    justify-content: center;

    &__item {
        display: flex;
        flex-direction: column;
        transition: all .8s ease;
        border: 1px solid #4B4136;
        cursor: pointer;

        &-image {
            width: 305px;
            height: 190px;
            margin: 41px auto 20px auto;
            box-shadow: 1px 1px 15px black;

            img{
                width: 100%;
                height: 100%;
            }
        }

        h5{
            text-align: center;
            color: #FFFFFF;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    &__item:hover{
        transition: all .8s ease;
        box-shadow: 1px 1px 10px #FFAE2B;
    }
}

.btn{
    width: 147px;
    height: 52px;
    border: 1px solid #FFAE2B;
    background: #FFAE2B;
    color: #181511;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    user-select: none;
}

.btn:hover{
    transition: all 1s ease;
    background: transparent;
    color: #FFAE2B;
}

.btn--tranparent{
    background: transparent;
    color: #FFAE2B;
    margin-left: 40px;
}

.btn--tranparent:hover{
    background: #FFAE2B;
    color: #181511;
}

.logo {
    font-size: 22px;
    color: #FFAE2B;
}
.burger{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ACA592;
    width: 86.1%;
    user-select: none;
}

.menu__list{
    display: flex;
    align-items: center;
    margin-left: 117px;
    list-style: none;

    li{
        margin-right: 40px;
        text-transform: uppercase;
        
        a{
            transition: all 0.5s ease;
            cursor: pointer;
            color: inherit;
        }
        a:hover{
            transition: all 0.5s ease;
            color: #FFAE2B;
        }
    }

    li:last-child{
        margin-right: 0;
    }
}

.burger-btn {
    display: none;
    width: 40px;
    cursor: pointer;

    span{
        position: relative;
    }
    span, span::after, span::before{
        display: block;
        height: 4px;
        width: 100%;
        background: #ACA592;
    }
    span::after, span::before{
        content: '';
        position: absolute;
        left: 0;
    }
    span::after{
        top: 10px;
        transform: rotate(0);

    }
    span::before{
        top: -10px;
    }
}

.burger-btn-cross{
    span{
        transform: rotate(45deg);
    }

    span::after{
        transform: rotate(-90deg) translateX(10px);
    }

    span::before{
        width: 0;
    }
}

.burger-btn-column{
    span{
        transform: rotate(0);
    }

    span::after{
        transform: rotate(0);
    }
    
    span::before{
        width: 100%;
    }
}

.our-services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        border: 1px solid #4B4136;
        flex-basis: 400px;
        height: 350px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 60px;
        
        &-image {
            margin-bottom: 20px;
        }

        &-title {
            margin-bottom: 10px;
            font-size: 29px;
            color: #FFAE2B;
        }

        &-subtitle {
            margin-bottom: 5px;
            font-size: 15px;
        }

        &-text {
            line-height: 26px;
            font-size: 11px;
            width: 222px;
        }

        &-text, &-subtitle{
            color: #ACA592;
        }
    }
}

.box-links {
    display: flex;
    justify-content: center;
    border-top: 1px solid #4B4136;

    &__item {
        padding-top: 20px;
        flex-basis: 220px;

        &-icon {
            width: 50px;
            height: 50px;
            position: absolute;
            top: -15px;
            left: 45%;

            svg{
                width: 100%;
                height: 100%;
            }
        }

        &-title {
            font-size: 34px;
            text-align: center;
            color: #FFAE2B;
            margin-bottom: 40px;
        }

        &-btn {
            margin: 0 auto;
        }
    }

    &__item-bg{
        background: url('../images/followMeOnIcon/followMeOnBg.webp') no-repeat top left/cover;
        width: 200px;
        height: 200px;
        margin: 0 65px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    &__item--links {
        position: relative;
    }
}

.rectangle {
    width: 420px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 82px auto 32px auto;

    &__item {
        flex: 1 1 50%;
        border: 1px solid #4B4136;
    }

    &__item--bg-yellow {
        background: #FFAE2B;
        border: 1px solid #FFAE2B;
    }
}

@media screen and (max-width: 1250px) {

    .galary {
        grid-template: repeat(11, 315px)/repeat(2, 387px);
    }

    .our-services{
        &__item {
            flex-basis: 250px;
            height: 300px;
            padding: 0 30px;
        }
    }

    .container{
        max-width: 890px;
        padding: 0 10px;
    }

    .box-links__item-images{
        img{
            width: 100%;
        }
    }

    .box-links__item{
        flex-basis: 150px;
    }

    .box-links__item-bg{
        width: 150px;
        height: 150px;
        margin: 0 45px;
    }

    .box-links__item-title{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .box-links__item-icon{
        left: 40%;
    }
}

@media screen and (max-width: 900px) {

    .container{
        width: 700px;
    }

    .box-links__item-images{
        img{
            width: 100%;
        }
    }

    .box-links__item{
        flex-basis: 150px;
    }

    .box-links__item-bg{
        width: 120px;
        height: 120px;
        margin: 0 45px;
    }

    .box-links__item-title{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .box-links__item-icon{
        width: 35px;
        height: 35px;
        left: 40%;
        top: -5px;
    }

    .box-links__item-btn{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }

    .galary {
        grid-template: repeat(11, 255px)/repeat(2, 327px);

        &__item-image {
            margin: 20px auto 10px auto;
        }
    }

    .burger-btn{
        display: block;
    }

    .menu__list{
        margin-left: 0;
    }

    .burger{
        margin-left: 0;
        background: #222222;
        position: absolute;
        justify-content: center;
        z-index: -1;
        top: -150%;
        left: 50%;
        width: 100%;
        padding: 10px;
        height: 150px;
    }
    /* Модификаторы burger--emergence и burger--disappearance служать для добавления анимации меню-бургера,
     для появления и изчеснования соответсвенно */
    .burger--emergence{
        animation-name: burger-emergence;
        animation-duration: 2s;
        animation-timing-function: ease;
        top: 190%;
    }

    .burger--disappearance{
        animation-name: burger-disappearance;
        animation-duration: 3s;
        animation-timing-function: ease;
        top: -150%;
    }
    
    @keyframes burger-emergence {
        0%{
            top: -150%;
        }
        100%{
            top: 190%;
        }
    }

    @keyframes burger-disappearance {
        0%{
            top: 190%;
        }
        100%{
            top: -150%;
        }
    }

    .our-services{
        &__item {
            flex-basis: 250px;
            height: 250px;
            padding: 0 30px;

            &-title{
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 730px) {   
    .main-title__h2--width{
        font-size: 40px;
        width: 100%;
    }

    .container{
        width: 450px;
    }

    .galary {
        grid-template: repeat(21, 255px)/repeat(1, 327px);
    }
    
    .burger{
        flex-wrap: wrap;
        padding: 10px 10px;
    }

    .btn{
        height: 42px;
        width: 127px;
    }

    h1{
        font-size: 45px;
    }

    h4{
        font-size: 18px;
    }
    .box-links__item-btn{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }

    .box-links{
        flex-direction: column;
    }

    .box-links__item, .box-links__item-bg{
        width: 450px;
        margin: 20px auto;
    }

    .box-links__item-bg{
        height: 450px;
    }

    .box-links__item-icon{
        width: 50px;
        height: 50px;
        left: 45%;
        top: -5px;
    }

    .box-links__item-btn{
        width: 180px;
        height: 80px;
        font-size: 24px;
    }

    .box-links__item-title{
        font-size: 60px;
    }
}


@media screen and (max-width: 500px) {   

    .main-title__h6--width{
        line-height: 25px;
        font-size: 14px;
    }

    .container{
        width: 300px;
    }

    .galary {
        grid-template: repeat(21, 255px)/repeat(1, 290px);

        &__item-image {
            margin: 20px auto 10px auto;
            width: 250px;
            height: 190px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .main-title{
        h2{
            font-size: 40px;
        }
    }
    
    h1{
        font-size: 35px;
    }

    h4{
        font-size: 14px;
    }
    
    .burger{
        padding: 10px;
        flex-wrap: nowrap;
    }
    .btn{
        height: 42px;
        width: 127px;
    }
    .menu__list{
        flex-direction: column;
        line-height: 30px;
        align-items: flex-start;
        padding-top: 10px;

        li{
            margin-right: 10px;
            font-size: 16px;
        }
    }

    .burger{
        height: 160px;
    }
    
    .burger--emergence{
        top: 200%;
    }

    @keyframes burger-emergence {
        0%{
            top: -150%;
        }
        100%{
            top: 200%;
        }
    }

    @keyframes burger-disappearance {
        0%{
            top: 200%;
        }
        100%{
            top: -150%;
        }
    }

    .box-links__item, .box-links__item-bg{
        width: 250px;
    }

    .box-links__item-bg{
        height: 250px;
    }

    .box-links__item-icon{
        left: 40%;
    }

    .box-links__item-btn{
        font-size: 18px;
    }

    .box-links__item-title{
        font-size: 40px;
    }

    .rectangle {
        width: 250px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin: 82px auto 32px auto;

        &__item {
            flex: 1 1 50%;
            border: 1px solid #4B4136;
        }

        &__item--bg-yellow {
            background: #FFAE2B;
            border: 1px solid #FFAE2B;
        }
    }

    .main-content__text{
        width: 250px;
    }
}
